<html>

<head>
    <title>

        SIGN UP
    </title>

   
    
    
    
    <link href="/styles.css" rel="stylesheet" type="text/css"/>
    
</head>


<body>
        <div class="p-3 mb-2 bg-dark text-white" style="height:100%">   
              
        

 

  <h1 style="text-align:center">REGISTER </h1>





<div>
<form action="/api/user/signup"  method="post" enctype="application/x-www-form-urlencoded">
    <br>
    <h4> First Name :</h4>
<input type="text" name='name' placeholder="First Name" required/>
</br>
<br>
<h4> Last Name :</h4>
<input type="text" name='LastName' placeholder="Last Name" required/>
</br>
<br>
<h4> Email :</h4>
<input type="text" name='email' placeholder="Email" required/>
</br>

<br>
<h4> AGE :</h4>
<input type="text" name='age' placeholder="Age" >
</br>
<br>
<h4> Password :</h4>
<input type="password" name='password' placeholder="password" >
</br>

<br>
<button type="submit" class="btn btn-success btn-lg">Submit </button>
</br>
</form>


</div>
</div>
</div>
</body>

</html>
